{% extends "base_internal.html" %}

{% block title %}
<title>Search Page</title>
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h2>Search for Texts</h2>

  <div class="input-group mt-3 mb-3">
    <input id="searchInput" type="text" class="form-control" placeholder="Enter text you want to search for">
    <div class="input-group-append">
      <button id="searchBtn" class="btn btn-outline-secondary">Search</button>
    </div>
  </div>

  <div id="output" class="mt-4">
    <!-- Placeholder for output -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const searchBtn = document.getElementById('searchBtn');
  const searchInput = document.getElementById('searchInput');
  const output = document.getElementById('output');

  searchBtn.addEventListener('click', () => {
    fetch('/search', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({search: searchInput.value})
    })
    .then(response => response.json())
    .then(data => {
      output.innerHTML = data.length ?
        data.map((item, index) =>
          `<div class="d-flex justify-content-between align-items-center">
            <p>${item['title']}</p>
            <button onclick="postAddAnime(${item['mal_id']})" class="btn btn-success btn-sm">Nice</button>
          </div>`
        ).join('')
        : '<p>No results found.</p>';
    })
    .catch(() => {
      output.innerHTML = 'An error occurred!';
    });
  });

  function postAddAnime(mal_id) {
    fetch('/add_anime', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({mal_id: mal_id})
    }).then(response => console.log(response))
    .catch(err => console.error(err));
  }
</script>
{% endblock %}
