{% extends "base_internal.html" %}

{% block title %}
    <title>Search Page</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 text-left"> <!-- Changed to 'text-left' for the outer container -->
        <h2 class="text-center">Search for Texts</h2> <!-- Text centered specifically for the header -->
        <div class="input-group mt-3 mb-3">
            <input id="searchInput" type="text" class="form-control" placeholder="Enter text you want to search for">
            <div class="input-group-append">
                <button id="searchBtn" class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
        <div id="output" class="mt-4"></div>

        <!-- Modal -->
        <div class="modal fade" id="titleModal" tabindex="-1" role="dialog" aria-labelledby="titleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleModalLabel">Anime Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Initially empty, content loaded through JavaScript -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchBtn = document.getElementById('searchBtn');
            const searchInput = document.getElementById('searchInput');
            const output = document.getElementById('output');
            const titleModal = new bootstrap.Modal(document.getElementById('titleModal'), {keyboard: true});

            searchBtn.addEventListener('click', function () {
                const searchText = searchInput.value;
                fetch('/search', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({search: searchText})
                })
                .then(response => response.json())
                .then(data => {
                    output.innerHTML = data.length ? data.map(item => `
                      <div class="d-flex justify-content-between align-items-center">
                        <p style="cursor: pointer;" onClick="showTitleDetails(${JSON.stringify(item).replace(/"/g, '&quot;')})">${item['title']}</p>
                        <button onclick="postAddAnime(${item['mal_id']})" class="btn btn-success btn-sm">Add</button>
                      </div>
                    `).join('') : '<p>No results found.</p>';
                }).catch(() => {
                    output.innerHTML = 'An error occurred!';
                });
            });

            window.showTitleDetails = function (item) {
                const modalBody = document.querySelector('#titleModal .modal-body');
                modalBody.innerHTML = `
                  <img src="${item.main_picture}" alt="Main Picture" style="width:100%; height:auto; margin-bottom: 20px;">
                  <div class="text-left"> <!-- Added text-left class here for alignment -->
                    <p><strong>Title:</strong> ${item.title}</p>
                    <p><strong>Episodes:</strong> ${item.episodes}</p>
                    <p><strong>Popularity:</strong>${item.popularity}</p>
                    <p><strong>Rating:</strong> ${item.rating}</p>
                    <p><strong>Duration:</strong> ${item.duration} minutes per episode</p>
                    <p><strong>Genre:</strong> ${item.genre_list.join(', ')}</p>
                    <p><strong>Synopsis:</strong> ${item.synopsis}</p>
                  </div>
                `;
                titleModal.show();
            };
            
            window.postAddAnime = function(mal_id) {
                fetch('/add_anime', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({mal_id: mal_id})
                })
                .then(response => console.log(response))
                .catch(err => console.error(err));
            };
        });
    </script>
{% endblock %}
