{% extends "base.html" %}

{% block title %}
<title>New user</title>
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-5">Welcome</h1>
    <form action="/signup" method="post">

      <!-- Username input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="username" id="form2Example1" name="username" class="form-control" required />
        <label class="form-label" for="form2Example1">Username</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" name="password" class="form-control" required />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- Submit button -->
      <input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" value="Sign in">
    
      {% if error %}
          <p style="color: red;">{{ error }}</p>
      {% endif %}

    </form>
</div>

{% endblock %}
